body, input, textarea {
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #333;
}

p {
	margin:0;
}

.logo {
	position:absolute;
	top:20px;
	left:50px;
	height: 50px;
	width: 50px;
	margin: 0;
	padding: 0;
	background: #000 url(../images/logo.png) no-repeat 50% 50%;
	font-size: 1.6em;
	color: #ccc;
	text-decoration: none;
	font-weight:normal;
	z-index: 10;
	text-indent: -6000px; 

	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;

	&:hover {
		background-color: #333;
	}

	display: none;
}

#warning {
	position:absolute;
	top:70px;
	left: 60px;
	font-size: 0.8em;
	line-height: 1.3em;
	margin:0;
	padding:0;
	list-style: block;
	z-index: 10;

	a {
		color: #fff;
		text-decoration: none;
	}

	li {
		margin: 0 0 0 0;
	}

	strong, h1 {
		background: #000;
		display: inline-block;
		color: #eee;
		padding: 4px 7px;
		margin:0;
	}

	h1 {
		
		font-weight: normal;
		line-height: 1.2em;
		font-size: 1.5em;
		font-weight: bold;
		

	}

	strong {
		font-weight: normal;
		color: #fff;
	}

	
}

#clock {
	position: absolute;
	top:0;
	right:30px;
	padding: 15px 0;
	width: 270px;

	color: #333;
	font-size: 1.3em;
	text-align:center;

	strong {
		font-size: 3.0em;
		line-height: 1.0em;
		display:block;
		padding: 0 0 0 0;
	}

	display:none;
}

#elapsed {
	position: absolute;
	top:90px;
	right:30px;
	width: 270px;
	color: #999;
	padding: 10px 0;
	text-align:center;
	text-transform: uppercase;
	font-size: 0.8em;
	border-top: 1px solid #ddd;
}


#stats {
	padding:0;
	margin:0;
	list-style:none;

	width: 100%;
	height: 100%;
	overflow: hidden;

	position: absolute;
	top:0;
	left:0;
	text-align:center;

	li {
		width: 100%;
		position: absolute;
		top:50%;
		left:0;

		font-size: 2.0em;
		color: #999;
		margin: -100px 0 50px 0;
		opacity:0;

		/*-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;*/
		
		/*-webkit-transform: rotateX(20deg);
		-webkit-perspective-origin: 10% 10%;
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;*/

		/*-webkit-transform: rotateX(22deg) translateZ(720px) scale3d(1,1,1);
		-webkit-background-size: contain;

		-moz-transform: rotateX(22deg) translateZ(720px) scale3d(1,1,1);
		-moz-background-size: contain;*/



		/*
		-webkit-transition: all ease 0.5s;*/

		-webkit-transform: translateY(450px) rotateX(0) rotateZ(0deg) scale3d(0.5,0.5,1);
		-moz-transform: translateY(450px) rotateX(0) rotateZ(0deg) scale3d(0.5,0.5,1);
		transform: translateY(450px) rotateX(0) rotateZ(0deg) scale3d(0.5,0.5,1);
		
		
		/*-webkit-transform-origin-x: 0%;
		-webkit-transform-origin-y: 50%;*/

		strong {
			font-weight: bold;
			font-size: 4em;
			display:block;
			line-height: 1.0em;
			color: #000;
		}

		em {
			color: #ccc;
			font-size: 0.8em;
			font-style: normal;
			padding: 30px 0 0 0;
		}

		img {
			position:absolute;
			top: 0;
			left:50%;
			margin: -110px 0 0 -50px;
			width: 100px;
		}

		&.previous {
			
			-webkit-transition: all ease 0.5s;
			-webkit-transform: translateX(0) translateY(-300px) rotateX(0) rotateY(0) rotateZ(0) scale3d(0.5,0.5,1);


			-moz-transition: all ease 0.5s;
			-moz-transform: translateX(0) translateY(-300px) rotateX(0) rotateY(0) rotateZ(0) scale3d(0.5,0.5,1);
			
			transition: all ease 0.5s;
			transform: translateX(0) translateY(-300px) rotateX(0) rotateY(0) rotateZ(0) scale3d(0.5,0.5,1);
			


			opacity: 0.3;
		
		}

		&.next {
			
			-webkit-transition: all ease 0.5s;
			-webkit-transform: translateX(0) translateY(250px) rotateX(0) rotateY(0) rotateZ(0) scale3d(0.5,0.5,1);

			-moz-transition: all ease 0.5s;
			-moz-transform: translateX(0) translateY(250px) rotateX(0) rotateY(0) rotateZ(0) scale3d(0.5,0.5,1);

			transition: all ease 0.5s;
			transform: translateX(0) translateY(250px) rotateX(0) rotateY(0) rotateZ(0) scale3d(0.5,0.5,1);



			opacity: 0.3;
	
		}

		&.show {

			-webkit-transition: all ease 0.5s;
			-webkit-transform: translateX(0) translateY(0) rotateY(0) rotateZ(0) scale3d(1,1,1);

			-moz-transition: all ease 0.5s;
			-moz-transform: translateX(0) translateY(0) rotateY(0) rotateZ(0) scale3d(1,1,1);

			transition: all ease 0.5s;
			transform: translateX(0) translateY(0) rotateY(0) rotateZ(0) scale3d(1,1,1);

			opacity: 1;

		}

		&.exit {

			-webkit-transition: all ease 0.5s;
			-webkit-transform: translateY(-500px) rotateY(0) rotateZ(0deg) scale3d(0.5,0.5,1);

			-moz-transition: all ease 0.5s;
			-moz-transform: translateY(-500px) rotateY(0) rotateZ(0deg) scale3d(0.5,0.5,1);

			transition: all ease 0.5s;
			transform: translateY(-500px) rotateY(0) rotateZ(0deg) scale3d(0.5,0.5,1);

		}

		&.reset {

		}

		

	}
}



#info {
	color: #ccc;
	font-size: 0.8em;
	font-style: normal;
	
	position: absolute;
	bottom: 10px;
	
	text-align:center;
	margin: 0 0 0 0;
	font-size: 1.4em;
	padding: 60px 0 0 0;
	background: url(../images/icon-clock.png) no-repeat 50% 0;
	
	width: 100%;

	strong {
		font-weight: normal;
		color: #666;
	}
}


#fullscreen {
	position:absolute;
	bottom:20px;
	right:20px;
	width: 38px;
	height: 29px;
	background: url(../images/icon-fullscreen.png) no-repeat 0 0;
	text-indent: -6000px;
}


